<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static "myapp/css/index.css" %}" type="text/css" charset="utf-8">
    <script type="text/javascript" charset="utf-8" src="{% static "myapp/js/index.js" %}"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <div>{% now "jS F Y H:i:s" %}</div>
    <div>{{user}} - {{lang}}</div>
    <div>
        <a href="{% url "index" %}">Index</a>
    </div>
    <div>
        <a href="{% url "foo" 3 %}">Foo</a>
    </div>
    <div>
        <a href="{% url "fart" 5 %}">Fart</a>
    </div>
    <div>
        <a href="{% url "bar" 6 %}">Bar</a>
    </div>
</body>
</html>
